In [70]:
import os
import requests
from datetime import date
import pandas as pd
import numpy as np

In [2]:
import cbpro

In [3]:
c = cbpro.PublicClient()

In [17]:
Bitcoin = pd.DataFrame(c.get_product_historic_rates('BTC-USD', start = '2021-01-01T01:00:00', end = date.today() , granularity = 86400))
Bitcoin.columns= ["Date","Open","High","Low","Close","Volume"]
Bitcoin['Date'] = pd.to_datetime(Bitcoin['Date'], unit='s')
Bitcoin.set_index('Date', inplace=True)
Bitcoin.sort_values(by='Date', ascending=True, inplace=True)
Bitcoin

                Open      High       Low     Close        Volume
Date
2021-01-02  29039.00  33300.00  29413.29  32225.91  46675.246521
2021-01-03  32008.62  34810.00  32222.88  33080.66  36951.716506
2021-01-04  27678.00  33666.99  33082.84  32019.99  46045.389685
2021-01-05  29891.13  34499.67  32020.22  34030.64  42282.569200
2021-01-06  33352.54  37000.00  34043.91  36859.26  45744.103200
...              ...       ...       ...       ...           ...
2021-10-09  53675.00  55500.00  53965.18  54962.29   7123.055124
2021-10-10  54112.95  56545.24  54963.29  54690.53   9370.191238
2021-10-11  54411.54  57833.23  54683.09  57487.44  13422.420818
2021-10-12  53873.78  57674.55  57485.97  56005.10  15457.008961
2021-10-13  54236.09  57229.98  56005.10  56999.86  11204.163205

[285 rows x 5 columns]

In [27]:
Uniswap= pd.DataFrame(c.get_product_historic_rates('UNI-USD', start = '2021-01-01T01:00:00', end = date.today() , granularity = 86400))
Uniswap.columns= ["Date","Open","High","Low","Close","Volume"]
Uniswap['Date'] = pd.to_datetime(Uniswap['Date'], unit='s')
Uniswap.set_index('Date', inplace=True)
Uniswap.sort_values(by='Date', ascending=True, inplace=True)
Uniswap

               Open     High      Low    Close        Volume
Date
2021-01-02   4.4937   5.1873   4.7430   4.8560  6.949170e+06
2021-01-03   4.6801   5.6500   4.8535   5.5241  7.510446e+06
2021-01-04   4.8810   6.2375   5.5300   5.4248  8.693660e+06
2021-01-05   5.2001   6.5824   5.4252   6.2715  6.619984e+06
2021-01-06   6.0201   6.6160   6.2725   6.4370  4.224685e+06
...             ...      ...      ...      ...           ...
2021-10-09  24.5274  25.6892  24.7876  25.1523  7.905936e+05
2021-10-10  24.0952  26.0131  25.1536  24.1543  7.967082e+05
2021-10-11  23.5142  25.0855  24.1527  24.1669  8.596947e+05
2021-10-12  22.3061  24.1692  24.1688  23.4691  1.015670e+06
2021-10-13  23.1600  25.7461  23.4571  24.0676  1.139698e+06

[285 rows x 5 columns]

In [28]:
Steller=  pd.DataFrame(c.get_product_historic_rates('XLM-USD', start = '2021-01-01T01:00:00', end = date.today() , granularity = 86400))
Steller.columns= ["Date","Open","High","Low","Close","Volume"]
Steller['Date'] = pd.to_datetime(Steller['Date'], unit='s')
Steller.set_index('Date', inplace=True)
Steller.sort_values(by='Date', ascending=True, inplace=True)
Steller

                Open      High       Low     Close      Volume
Date
2021-01-02  0.126990  0.134900  0.132502  0.127655   176330919
2021-01-03  0.124080  0.139230  0.127654  0.136751   304037559
2021-01-04  0.128517  0.167840  0.136750  0.164204   703595481
2021-01-05  0.150012  0.210000  0.164205  0.193420   868476983
2021-01-06  0.192500  0.439998  0.193321  0.349199  2096920899
...              ...       ...       ...       ...         ...
2021-10-09  0.333000  0.367797  0.336338  0.353200   193056381
2021-10-10  0.329124  0.357923  0.353200  0.331167   111327312
2021-10-11  0.325610  0.357471  0.331267  0.344416   137505549
2021-10-12  0.320036  0.344826  0.344422  0.332553   140610049
2021-10-13  0.330153  0.376284  0.332525  0.358974   180457615

[285 rows x 5 columns]

In [32]:
Ethereum= pd.DataFrame(c.get_product_historic_rates('ETH-USD', start = '2021-01-01T01:00:00', end = date.today() , granularity = 86400))
Ethereum.columns= ["Date","Open","High","Low","Close","Volume"]
Ethereum['Date'] = pd.to_datetime(Ethereum['Date'], unit='s')
Ethereum.set_index('Date', inplace=True)
Ethereum.sort_values(by='Date', ascending=True, inplace=True)
Ethereum

               Open     High      Low    Close        Volume
Date
2021-01-02   715.22   789.21   730.97   775.30  3.688993e+05
2021-01-03   770.00  1015.14   775.29   980.44  8.587438e+05
2021-01-04   886.33  1168.99   980.44  1042.38  1.103883e+06
2021-01-05   975.00  1136.93  1042.24  1103.73  8.584959e+05
2021-01-06  1058.32  1215.98  1103.71  1212.02  8.210849e+05
...             ...      ...      ...      ...           ...
2021-10-09  3538.61  3634.13  3563.96  3575.83  8.878259e+04
2021-10-10  3406.44  3605.49  3575.20  3415.00  1.128351e+05
2021-10-11  3373.45  3625.00  3414.75  3542.37  1.425257e+05
2021-10-12  3403.51  3549.00  3542.20  3490.61  1.766175e+05
2021-10-13  3412.45  3531.84  3490.17  3528.89  1.160151e+05

[285 rows x 5 columns]

In [33]:
Litecoin= pd.DataFrame(c.get_product_historic_rates('LTC-USD', start = '2021-01-01T01:00:00', end = date.today() , granularity = 86400))
Litecoin.columns= ["Date","Open","High","Low","Close","Volume"]
Litecoin['Date'] = pd.to_datetime(Litecoin['Date'], unit='s')
Litecoin.set_index('Date', inplace=True)
Litecoin.sort_values(by='Date', ascending=True, inplace=True)
Litecoin

              Open    High     Low   Close        Volume
Date
2021-01-02  123.80  142.21  126.53  137.13  9.990282e+05
2021-01-03  135.50  164.98  137.10  161.52  1.359302e+06
2021-01-04  140.00  174.50  161.44  155.43  1.288609e+06
2021-01-05  146.62  163.36  155.48  159.03  8.647930e+05
2021-01-06  155.37  169.90  159.01  169.41  8.614759e+05
...            ...     ...     ...     ...           ...
2021-10-09  174.44  182.90  175.97  180.00  2.225122e+05
2021-10-10  174.13  183.99  179.99  174.92  2.641057e+05
2021-10-11  172.41  185.34  174.78  179.20  3.038026e+05
2021-10-12  166.50  179.22  179.15  172.63  3.777525e+05
2021-10-13  167.61  178.95  172.62  175.53  2.614724e+05

[285 rows x 5 columns]

In [39]:
Five_Crypto= pd.concat([Bitcoin, Uniswap, Steller, Ethereum, Litecoin ], axis=1, keys= ["Bitcoin", "Uniswap", "Steller", "Ethereum", "Litecoin"])
Five_Crypto

             Bitcoin                                              Uniswap  \
                Open      High       Low     Close        Volume     Open
Date
2021-01-02  29039.00  33300.00  29413.29  32225.91  46675.246521   4.4937
2021-01-03  32008.62  34810.00  32222.88  33080.66  36951.716506   4.6801
2021-01-04  27678.00  33666.99  33082.84  32019.99  46045.389685   4.8810
2021-01-05  29891.13  34499.67  32020.22  34030.64  42282.569200   5.2001
2021-01-06  33352.54  37000.00  34043.91  36859.26  45744.103200   6.0201
...              ...       ...       ...       ...           ...      ...
2021-10-09  53675.00  55500.00  53965.18  54962.29   7123.055124  24.5274
2021-10-10  54112.95  56545.24  54963.29  54690.53   9370.191238  24.0952
2021-10-11  54411.54  57833.23  54683.09  57487.44  13422.420818  23.5142
2021-10-12  53873.78  57674.55  57485.97  56005.10  15457.008961  22.3061
2021-10-13  54236.09  57229.98  56005.10  56999.86  11204.163205  23.1600

                                                     ... Ethereum           \
               High      Low    Close        Volume  ...     Open     High
Date                                                 ...
2021-01-02   5.1873   4.7430   4.8560  6.949170e+06  ...   715.22   789.21
2021-01-03   5.6500   4.8535   5.5241  7.510446e+06  ...   770.00  1015.14
2021-01-04   6.2375   5.5300   5.4248  8.693660e+06  ...   886.33  1168.99
2021-01-05   6.5824   5.4252   6.2715  6.619984e+06  ...   975.00  1136.93
2021-01-06   6.6160   6.2725   6.4370  4.224685e+06  ...  1058.32  1215.98
...             ...      ...      ...           ...  ...      ...      ...
2021-10-09  25.6892  24.7876  25.1523  7.905936e+05  ...  3538.61  3634.13
2021-10-10  26.0131  25.1536  24.1543  7.967082e+05  ...  3406.44  3605.49
2021-10-11  25.0855  24.1527  24.1669  8.596947e+05  ...  3373.45  3625.00
2021-10-12  24.1692  24.1688  23.4691  1.015670e+06  ...  3403.51  3549.00
2021-10-13  25.7461  23.4571  24.0676  1.139698e+06  ...  3412.45  3531.84

                                           Litecoin                          \
                Low    Close        Volume     Open    High     Low   Close
Date
2021-01-02   730.97   775.30  3.688993e+05   123.80  142.21  126.53  137.13
2021-01-03   775.29   980.44  8.587438e+05   135.50  164.98  137.10  161.52
2021-01-04   980.44  1042.38  1.103883e+06   140.00  174.50  161.44  155.43
2021-01-05  1042.24  1103.73  8.584959e+05   146.62  163.36  155.48  159.03
2021-01-06  1103.71  1212.02  8.210849e+05   155.37  169.90  159.01  169.41
...             ...      ...           ...      ...     ...     ...     ...
2021-10-09  3563.96  3575.83  8.878259e+04   174.44  182.90  175.97  180.00
2021-10-10  3575.20  3415.00  1.128351e+05   174.13  183.99  179.99  174.92
2021-10-11  3414.75  3542.37  1.425257e+05   172.41  185.34  174.78  179.20
2021-10-12  3542.20  3490.61  1.766175e+05   166.50  179.22  179.15  172.63
2021-10-13  3490.17  3528.89  1.160151e+05   167.61  178.95  172.62  175.53


                  Volume
Date
2021-01-02  9.990282e+05
2021-01-03  1.359302e+06
2021-01-04  1.288609e+06
2021-01-05  8.647930e+05
2021-01-06  8.614759e+05
...                  ...
2021-10-09  2.225122e+05
2021-10-10  2.641057e+05
2021-10-11  3.038026e+05
2021-10-12  3.777525e+05
2021-10-13  2.614724e+05

[285 rows x 25 columns]

In [44]:
BTC=Bitcoin.loc[:,'Close']
UNI=Uniswap.loc[:,'Close']
XLM= Steller.loc[:,'Close']
ETH=Ethereum.loc[:,'Close']
LTC=  Litecoin.loc[:,'Close']

In [45]:
Five_Crypto_ClosingPrice=pd.concat([BTC,UNI,XLM,ETH,LTC],axis=1)
Five_Crypto_ClosingPrice.columns=['BTC','UNI','XLM','ETH','LTC']
Five_Crypto_ClosingPrice

                 BTC      UNI       XLM      ETH     LTC
Date
2021-01-02  32225.91   4.8560  0.127655   775.30  137.13
2021-01-03  33080.66   5.5241  0.136751   980.44  161.52
2021-01-04  32019.99   5.4248  0.164204  1042.38  155.43
2021-01-05  34030.64   6.2715  0.193420  1103.73  159.03
2021-01-06  36859.26   6.4370  0.349199  1212.02  169.41
...              ...      ...       ...      ...     ...
2021-10-09  54962.29  25.1523  0.353200  3575.83  180.00
2021-10-10  54690.53  24.1543  0.331167  3415.00  174.92
2021-10-11  57487.44  24.1669  0.344416  3542.37  179.20
2021-10-12  56005.10  23.4691  0.332553  3490.61  172.63
2021-10-13  56999.86  24.0676  0.358974  3528.89  175.53

[285 rows x 5 columns]

In [46]:
Five_Crypto_daily_returns= Five_Crypto_ClosingPrice.pct_change().dropna()
Five_Crypto_daily_returns

                 BTC       UNI       XLM       ETH       LTC
Date
2021-01-03  0.026524  0.137582  0.071255  0.264594  0.177860
2021-01-04 -0.032063 -0.017976  0.200752  0.063176 -0.037704
2021-01-05  0.062794  0.156079  0.177925  0.058856  0.023162
2021-01-06  0.083120  0.026389  0.805392  0.098113  0.065271
2021-01-07  0.071795 -0.025245 -0.103568  0.012640  0.002007
...              ...       ...       ...       ...       ...
2021-10-09  0.018503  0.015709  0.050259  0.003331  0.023251
2021-10-10 -0.004944 -0.039678 -0.062381 -0.044977 -0.028222
2021-10-11  0.051141  0.000522  0.040007  0.037297  0.024468
2021-10-12 -0.025785 -0.028874 -0.034444 -0.014612 -0.036663
2021-10-13  0.017762  0.025502  0.079449  0.010967  0.016799

[284 rows x 5 columns]

In [47]:
Five_Crypto_cumulative_returns=(1+Five_Crypto_daily_returns).cumprod()
Five_Crypto_cumulative_returns.tail(10)

                 BTC       UNI       XLM       ETH       LTC
Date
2021-10-04  1.528135  5.219605  2.431953  4.368889  1.221687
2021-10-05  1.597906  5.280292  2.499792  4.534116  1.267338
2021-10-06  1.717236  5.201792  2.803862  4.612215  1.301685
2021-10-07  1.669396  5.258649  2.692413  4.628544  1.302487
2021-10-08  1.674548  5.099526  2.634429  4.596879  1.282797
2021-10-09  1.705531  5.179633  2.766832  4.612189  1.312623
2021-10-10  1.697098  4.974114  2.594234  4.404747  1.275578
2021-10-11  1.783889  4.976709  2.698022  4.569031  1.306789
2021-10-12  1.737890  4.833011  2.605092  4.502270  1.258878
2021-10-13  1.768759  4.956260  2.812064  4.551645  1.280026

In [48]:
User_info_Cumulative_return=Five_Crypto_cumulative_returns.tail(1)
User_info_Cumulative_return

                 BTC      UNI       XLM       ETH       LTC
Date
2021-10-13  1.768759  4.95626  2.812064  4.551645  1.280026

In [114]:
All_Cumulative_return=User_info_Cumulative_return.values[0]*100
All_Cumulative_return

array([176.8758741 , 495.62602965, 281.20637656, 455.16445247,
       128.00262525])

In [105]:
print(f"Here is the cumulative return of five popular cryptocurrencies from the beginning of 2021 \n - Bitcoin: {All_Cumulative_return[0]:.1f}%." 
     f"\n- Uniswap: {All_Cumulative_return.[1]:.1f}%."
     f"\n-Steller:{All_Cumulative_return[2]:.1f}%." 
     f"\n-Ethereum: {All_Cumulative_return[3]:.1f}%."
     f" \n-Litecoin: {All_Cumulative_return[4]:.1f}%."
     f"\n The higher the percentage of the cumulative return, the higher the investment profit")

Here is the cumulative return of five popular cryptocurrencies from the beginning of 2021
 - Bitcoin: 176.9%.
- Uniswap: 495.6%.
-Steller:281.2%.
-Ethereum: 455.2%.
-Litecoin: 128.0%.
 The higher the percentage of the cumulative return, the higher the investment profit

In [96]:
trading_days=Five_Crypto_daily_returns.count()[1]+1

In [100]:
Five_crypto_Annual_average_return=Five_Crypto_daily_returns.mean()*trading_days
Five_crypto_Annual_average_return

BTC    0.855012
UNI    2.569670
XLM    1.915748
ETH    2.052208
LTC    0.856152
dtype: float64

In [101]:
Five_Crypto_Annual_std=Five_Crypto_daily_returns.std()* np.sqrt(trading_days)

In [115]:
Five_crypto_Sharpe_ratios=Five_crypto_Annual_average_return/Five_Crypto_Annual_std
Five_crypto_Sharpe_ratios.sort_values()

LTC    0.787854
BTC    1.133877
XLM    1.366198
UNI    1.810005
ETH    1.997737
dtype: float64

In [121]:
print(f"Here is the Sharpe ration of the above five popular cryptocurrencies \n-Bitcoin: {Five_crypto_Sharpe_ratios[0]:.1f}." 
     f"\n-Uniswap: {Five_crypto_Sharpe_ratios[1]:.1f}."
     f"\n-Steller:{Five_crypto_Sharpe_ratios[2]:.1f}." 
     f"\n-Ethereum: {Five_crypto_Sharpe_ratios[3]:.1f}."
     f" \n-Litecoin: {Five_crypto_Sharpe_ratios[4]:.1f}."
     f"\nThe lower the Sharpe ratio, the lower the investment risk")

Here is the Sharpe ration of the above five popular cryptocurrencies
-Bitcoin: 1.1.
-Uniswap: 1.8.
-Steller:1.4.
-Ethereum: 2.0.
-Litecoin: 0.8.
The lower the Sharpe ratio, the lower the investment risk

In [122]:
df_concat = pd.concat([Bitcoin, Uniswap], axis=1, keys=["Bitcoin","Uniswap"], join="inner")

df_concat

             Bitcoin                                              Uniswap  \
                Open      High       Low     Close        Volume     Open
Date
2021-01-02  29039.00  33300.00  29413.29  32225.91  46675.246521   4.4937
2021-01-03  32008.62  34810.00  32222.88  33080.66  36951.716506   4.6801
2021-01-04  27678.00  33666.99  33082.84  32019.99  46045.389685   4.8810
2021-01-05  29891.13  34499.67  32020.22  34030.64  42282.569200   5.2001
2021-01-06  33352.54  37000.00  34043.91  36859.26  45744.103200   6.0201
...              ...       ...       ...       ...           ...      ...
2021-10-09  53675.00  55500.00  53965.18  54962.29   7123.055124  24.5274
2021-10-10  54112.95  56545.24  54963.29  54690.53   9370.191238  24.0952
2021-10-11  54411.54  57833.23  54683.09  57487.44  13422.420818  23.5142
2021-10-12  53873.78  57674.55  57485.97  56005.10  15457.008961  22.3061
2021-10-13  54236.09  57229.98  56005.10  56999.86  11204.163205  23.1600


               High      Low    Close        Volume
Date
2021-01-02   5.1873   4.7430   4.8560  6.949170e+06
2021-01-03   5.6500   4.8535   5.5241  7.510446e+06
2021-01-04   6.2375   5.5300   5.4248  8.693660e+06
2021-01-05   6.5824   5.4252   6.2715  6.619984e+06
2021-01-06   6.6160   6.2725   6.4370  4.224685e+06
...             ...      ...      ...           ...
2021-10-09  25.6892  24.7876  25.1523  7.905936e+05
2021-10-10  26.0131  25.1536  24.1543  7.967082e+05
2021-10-11  25.0855  24.1527  24.1669  8.596947e+05
2021-10-12  24.1692  24.1688  23.4691  1.015670e+06
2021-10-13  25.7461  23.4571  24.0676  1.139698e+06

[285 rows x 10 columns]

In [15]:
# Import the MCSimulation module from the MCForecastTools library file
from MCForecastTools import MCSimulation

In [127]:
MC_even_weight = MCSimulation(
    portfolio_data = df_concat,
    weights= [0.30,0.70],
    num_simulation = 500 ,
    num_trading_days = 3*364
)

MC_even_weight.portfolio_data.head()

             Bitcoin                                                           \
                Open      High       Low     Close        Volume daily_return
Date
2021-01-02  29039.00  33300.00  29413.29  32225.91  46675.246521          NaN
2021-01-03  32008.62  34810.00  32222.88  33080.66  36951.716506     0.026524
2021-01-04  27678.00  33666.99  33082.84  32019.99  46045.389685    -0.032063
2021-01-05  29891.13  34499.67  32020.22  34030.64  42282.569200     0.062794
2021-01-06  33352.54  37000.00  34043.91  36859.26  45744.103200     0.083120

           Uniswap
              Open    High     Low   Close        Volume daily_return
Date
2021-01-02  4.4937  5.1873  4.7430  4.8560  6.949170e+06          NaN
2021-01-03  4.6801  5.6500  4.8535  5.5241  7.510446e+06     0.137582
2021-01-04  4.8810  6.2375  5.5300  5.4248  8.693660e+06    -0.017976
2021-01-05  5.2001  6.5824  5.4252  6.2715  6.619984e+06     0.156079
2021-01-06  6.0201  6.6160  6.2725  6.4370  4.224685e+06     0.026389

In [128]:
# Run a Monte Carlo simulation to forecast five years cumulative returns
MC_even_weight.calc_cumulative_return()

Running Monte Carlo simulation number 0.
Running Monte Carlo simulation number 10.
Running Monte Carlo simulation number 20.
Running Monte Carlo simulation number 30.
Running Monte Carlo simulation number 40.
Running Monte Carlo simulation number 50.
Running Monte Carlo simulation number 60.
Running Monte Carlo simulation number 70.
Running Monte Carlo simulation number 80.
Running Monte Carlo simulation number 90.
Running Monte Carlo simulation number 100.
Running Monte Carlo simulation number 110.
Running Monte Carlo simulation number 120.
Running Monte Carlo simulation number 130.
Running Monte Carlo simulation number 140.
Running Monte Carlo simulation number 150.
Running Monte Carlo simulation number 160.
Running Monte Carlo simulation number 170.
Running Monte Carlo simulation number 180.
Running Monte Carlo simulation number 190.
Running Monte Carlo simulation number 200.
Running Monte Carlo simulation number 210.
Running Monte Carlo simulation number 220.
Running Monte Carlo simulation number 230.
Running Monte Carlo simulation number 240.
Running Monte Carlo simulation number 250.
Running Monte Carlo simulation number 260.
Running Monte Carlo simulation number 270.
Running Monte Carlo simulation number 280.
Running Monte Carlo simulation number 290.
Running Monte Carlo simulation number 300.
Running Monte Carlo simulation number 310.
Running Monte Carlo simulation number 320.
Running Monte Carlo simulation number 330.
Running Monte Carlo simulation number 340.
Running Monte Carlo simulation number 350.
Running Monte Carlo simulation number 360.
Running Monte Carlo simulation number 370.
Running Monte Carlo simulation number 380.
Running Monte Carlo simulation number 390.
Running Monte Carlo simulation number 400.
Running Monte Carlo simulation number 410.
Running Monte Carlo simulation number 420.
Running Monte Carlo simulation number 430.
Running Monte Carlo simulation number 440.
Running Monte Carlo simulation number 450.
Running Monte Carlo simulation number 460.
Running Monte Carlo simulation number 470.
Running Monte Carlo simulation number 480.
Running Monte Carlo simulation number 490.

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,1.035578,1.095555,1.035638,1.050604,0.989801,1.020142,1.053876,0.881505,1.034654,0.985815,...,0.939308,1.035885,1.059724,1.008603,0.935330,0.943002,0.946189,0.953777,1.032933,1.019906
2,1.059748,1.093057,1.071039,1.154106,0.988697,0.997463,1.158828,0.903164,1.126124,0.967542,...,0.964930,0.951364,1.043788,1.070265,0.899686,0.906836,0.954217,1.015273,1.086154,1.049108
3,1.100236,1.055370,1.152102,1.086280,0.970078,1.121548,1.154170,1.021984,1.200002,1.000708,...,1.055472,0.883376,1.164036,1.047004,0.897359,0.930711,1.003993,0.990711,1.059169,1.024793
4,1.053882,1.124916,1.072161,1.136766,1.091097,1.061261,1.158117,0.997693,0.976396,0.956615,...,1.032525,0.974899,1.276759,1.137070,0.869784,0.896420,1.104493,0.985627,1.053422,1.062742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088,171.135037,15.673924,288.311678,2.900826,95.458571,32.617871,1.819680,815.703670,626.520456,15.364277,...,336.081414,11503.627149,765.579889,43.297343,1957.166886,66.374620,103.291496,361.355859,63.603290,292.114875
1089,168.390077,15.995958,295.735805,2.845869,95.319016,33.021974,1.960703,791.016585,671.384018,14.594132,...,338.739227,10977.264987,830.729793,42.168533,1804.661036,58.753863,112.199122,377.403493,59.810761,329.953971
1090,176.755547,17.274402,296.874077,2.811347,101.299241,35.841201,2.073404,772.266295,671.922226,14.086094,...,347.348852,10256.186597,844.760126,40.813622,1906.826829,56.799914,119.233066,358.835399,65.851487,337.330535
1091,179.406231,16.412903,314.676130,3.199665,95.787561,36.011951,2.240229,778.344582,729.650036,15.468184,...,356.096698,9972.186139,813.668881,38.462768,1926.696798,53.569442,98.799628,338.696584,70.656457,336.631170
1092,178.007554,17.900959,311.776481,3.237955,98.672114,38.546722,2.080796,756.103459,725.832362,14.360588,...,361.927953,9382.365775,797.034458,43.960054,1727.773545,53.818061,95.333902,350.092689,67.408380,323.250890

In [129]:
# Generate the summary statistics for the Monte Carlo simulation
# Save the summary statistics information in a variable called even_weights_table 
even_weight_table = MC_even_weight.summarize_cumulative_return()

# Print the table of summary statistics
print(even_weight_table)

count              500.000000
mean              2299.046865
std               8987.903293
min                  0.919097
25%                 96.419421
50%                315.067579
75%               1147.847236
max             129949.271477
95% CI Lower         7.354158
95% CI Upper     16728.143408
Name: 1092, dtype: float64

In [130]:
# Using the lower and upper `95%` confidence interval values 
# (index positions 8 & 9 from the even_weight_table)
# calculate  the range of the possible outcomes for a $15,000 investment 
even_ci_lower = round(even_weight_table[8]*1000,2)
even_ci_upper = round(even_weight_table[9]*1000,2)

# Print results of your calculations
print(f"There is a 95% chance that an initial investment of $15,000 in the portfolio"
      f" with an even weight portfolio over the next 5 years will end within in the range of"
      f" ${even_ci_lower} and ${even_ci_upper}.")

There is a 95% chance that an initial investment of $15,000 in the portfolio with an even weight portfolio over the next 5 years will end within in the range of $7354.16 and $16728143.41.