In [1]:
import os
import requests
import pandas as pd

In [2]:
import cbpro

In [3]:
c = cbpro.PublicClient()

In [4]:
Bitcoin = pd.DataFrame(c.get_product_historic_rates('BTC-USD', start = '2021-01-01T01:00:00', end = '2021-10-07T01:00:00' , granularity = 86400))
Bitcoin.columns= ["Date","Open","High","Low","Close","Volume"]
Bitcoin['Date'] = pd.to_datetime(Bitcoin['Date'], unit='s')
Bitcoin.set_index('Date', inplace=True)
Bitcoin.sort_values(by='Date', ascending=True, inplace=True)
Bitcoin

                Open      High       Low     Close        Volume
Date
2021-01-02  29039.00  33300.00  29413.29  32225.91  46675.246521
2021-01-03  32008.62  34810.00  32222.88  33080.66  36951.716506
2021-01-04  27678.00  33666.99  33082.84  32019.99  46045.389685
2021-01-05  29891.13  34499.67  32020.22  34030.64  42282.569200
2021-01-06  33352.54  37000.00  34043.91  36859.26  45744.103200
...              ...       ...       ...       ...           ...
2021-10-03  47120.11  49300.00  47663.74  48233.99   7989.259259
2021-10-04  46916.70  49505.00  48233.99  49245.54  13938.641830
2021-10-05  49057.18  51906.23  49244.13  51493.99  17828.597267
2021-10-06  50416.01  55757.11  51499.77  55339.48  25869.649260
2021-10-07  53379.00  55356.85  55346.95  53797.82  15820.834176

[279 rows x 5 columns]

In [5]:
tickers=["Bitcoin","Cardano"]

In [6]:
Cardano = pd.DataFrame(c.get_product_historic_rates('ADA-USD', start = '2021-01-01T01:00:00', end = '2021-10-07T01:00:00' , granularity = 86400))
Cardano.columns= ["Date","Open","High","Low","Close","Volume"]
Cardano['Date'] = pd.to_datetime(Cardano['Date'], unit='s')
Cardano.set_index('Date', inplace=True)
Cardano.sort_values(by='Date', ascending=True, inplace=True)
Cardano

              Open    High     Low   Close        Volume
Date
2021-03-18  1.2155  1.8800  1.6551  1.2300  1.123849e+08
2021-03-19  1.1808  1.3960  1.2311  1.3076  1.666585e+08
2021-03-20  1.2001  1.3450  1.3065  1.2013  1.214420e+08
2021-03-21  1.1607  1.2463  1.2013  1.1885  5.559264e+07
2021-03-22  1.0700  1.2076  1.1885  1.1027  8.024998e+07
...            ...     ...     ...     ...           ...
2021-10-03  2.2224  2.3093  2.2485  2.2531  5.356730e+07
2021-10-04  2.1502  2.2545  2.2529  2.1915  7.315132e+07
2021-10-05  2.1778  2.2589  2.1922  2.2331  7.068145e+07
2021-10-06  2.1137  2.2500  2.2339  2.2107  1.155512e+08
2021-10-07  2.1510  2.3749  2.2111  2.2783  1.319050e+08

[204 rows x 5 columns]

In [7]:
df_concat = pd.concat([Bitcoin, Cardano], axis=1, keys=["Bitcoin","Cardano"], join="inner")

df_concat

             Bitcoin                                             Cardano  \
                Open      High       Low     Close        Volume    Open
Date
2021-03-18  56996.15  60100.00  58925.54  57644.95  21459.496240  1.2155
2021-03-19  56260.00  59461.99  57644.95  58039.66  16429.629743  1.1808
2021-03-20  57827.97  59928.00  58026.91  58116.70   9725.281237  1.2001
2021-03-21  55543.89  58651.22  58126.34  57363.32  11841.638779  1.1607
2021-03-22  53739.50  58421.68  57377.29  54110.07  19512.156472  1.0700
...              ...       ...       ...       ...           ...     ...
2021-10-03  47120.11  49300.00  47663.74  48233.99   7989.259259  2.2224
2021-10-04  46916.70  49505.00  48233.99  49245.54  13938.641830  2.1502
2021-10-05  49057.18  51906.23  49244.13  51493.99  17828.597267  2.1778
2021-10-06  50416.01  55757.11  51499.77  55339.48  25869.649260  2.1137
2021-10-07  53379.00  55356.85  55346.95  53797.82  15820.834176  2.1510


              High     Low   Close        Volume
Date
2021-03-18  1.8800  1.6551  1.2300  1.123849e+08
2021-03-19  1.3960  1.2311  1.3076  1.666585e+08
2021-03-20  1.3450  1.3065  1.2013  1.214420e+08
2021-03-21  1.2463  1.2013  1.1885  5.559264e+07
2021-03-22  1.2076  1.1885  1.1027  8.024998e+07
...            ...     ...     ...           ...
2021-10-03  2.3093  2.2485  2.2531  5.356730e+07
2021-10-04  2.2545  2.2529  2.1915  7.315132e+07
2021-10-05  2.2589  2.1922  2.2331  7.068145e+07
2021-10-06  2.2500  2.2339  2.2107  1.155512e+08
2021-10-07  2.3749  2.2111  2.2783  1.319050e+08

[204 rows x 10 columns]

In [9]:
# Import the MCSimulation module from the MCForecastTools library file
from MCForecastTools import MCSimulation

In [11]:
MC_even_weight = MCSimulation(
    portfolio_data = df_concat,
    weights= [0.50,0.50],
    num_simulation = 500 ,
    num_trading_days = 3*364
)

MC_even_weight.portfolio_data.head()

             Bitcoin                                                           \
                Open      High       Low     Close        Volume daily_return
Date
2021-03-18  56996.15  60100.00  58925.54  57644.95  21459.496240          NaN
2021-03-19  56260.00  59461.99  57644.95  58039.66  16429.629743     0.006847
2021-03-20  57827.97  59928.00  58026.91  58116.70   9725.281237     0.001327
2021-03-21  55543.89  58651.22  58126.34  57363.32  11841.638779    -0.012963
2021-03-22  53739.50  58421.68  57377.29  54110.07  19512.156472    -0.056713

           Cardano
              Open    High     Low   Close        Volume daily_return
Date
2021-03-18  1.2155  1.8800  1.6551  1.2300  1.123849e+08          NaN
2021-03-19  1.1808  1.3960  1.2311  1.3076  1.666585e+08     0.063089
2021-03-20  1.2001  1.3450  1.3065  1.2013  1.214420e+08    -0.081294
2021-03-21  1.1607  1.2463  1.2013  1.1885  5.559264e+07    -0.010655
2021-03-22  1.0700  1.2076  1.1885  1.1027  8.024998e+07    -0.072192

In [12]:
# Run a Monte Carlo simulation to forecast five years cumulative returns
MC_even_weight.calc_cumulative_return()

Running Monte Carlo simulation number 0.
Running Monte Carlo simulation number 10.
Running Monte Carlo simulation number 20.
Running Monte Carlo simulation number 30.
Running Monte Carlo simulation number 40.
Running Monte Carlo simulation number 50.
Running Monte Carlo simulation number 60.
Running Monte Carlo simulation number 70.
Running Monte Carlo simulation number 80.
Running Monte Carlo simulation number 90.
Running Monte Carlo simulation number 100.
Running Monte Carlo simulation number 110.
Running Monte Carlo simulation number 120.
Running Monte Carlo simulation number 130.
Running Monte Carlo simulation number 140.
Running Monte Carlo simulation number 150.
Running Monte Carlo simulation number 160.
Running Monte Carlo simulation number 170.
Running Monte Carlo simulation number 180.
Running Monte Carlo simulation number 190.
Running Monte Carlo simulation number 200.
Running Monte Carlo simulation number 210.
Running Monte Carlo simulation number 220.
Running Monte Carlo simulation number 230.
Running Monte Carlo simulation number 240.
Running Monte Carlo simulation number 250.
Running Monte Carlo simulation number 260.
Running Monte Carlo simulation number 270.
Running Monte Carlo simulation number 280.
Running Monte Carlo simulation number 290.
Running Monte Carlo simulation number 300.
Running Monte Carlo simulation number 310.
Running Monte Carlo simulation number 320.
Running Monte Carlo simulation number 330.
Running Monte Carlo simulation number 340.
Running Monte Carlo simulation number 350.
Running Monte Carlo simulation number 360.
Running Monte Carlo simulation number 370.
Running Monte Carlo simulation number 380.
Running Monte Carlo simulation number 390.
Running Monte Carlo simulation number 400.
Running Monte Carlo simulation number 410.
Running Monte Carlo simulation number 420.
Running Monte Carlo simulation number 430.
Running Monte Carlo simulation number 440.
Running Monte Carlo simulation number 450.
Running Monte Carlo simulation number 460.
Running Monte Carlo simulation number 470.
Running Monte Carlo simulation number 480.
Running Monte Carlo simulation number 490.

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,1.047277,0.976451,1.006320,1.007431,0.956970,1.028997,1.028472,1.032189,0.993239,0.998234,...,0.988830,0.979688,0.964298,1.014965,0.982837,0.985519,1.025683,1.032181,0.954904,0.975107
2,1.020529,0.983286,1.009385,1.069617,1.014419,1.045118,1.050744,1.055566,1.062893,0.995918,...,1.002348,1.015862,0.948521,1.084202,0.970648,1.034122,1.035813,1.047749,1.037033,0.927738
3,0.990545,0.977543,0.978756,1.112164,1.050113,1.061743,1.018878,1.067009,0.980545,0.941182,...,0.963446,1.012376,1.014334,1.194766,0.987357,1.088450,1.041710,1.039962,1.029355,0.961741
4,0.992727,1.017037,0.978895,1.082825,1.087764,1.092367,1.010717,1.103142,1.094622,0.921331,...,0.962512,1.003474,1.046180,1.104510,1.023933,1.058577,1.066003,0.986155,1.001784,0.993142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088,2.980958,9.691115,14.185689,1.783319,10.746703,6.117460,50.503135,1.937201,9.694956,25.627596,...,17.944649,10.727855,6.866439,2.421471,15.753416,13.388405,6.194217,4.040154,41.540692,10.151184
1089,3.097177,10.125343,13.836808,1.635149,10.334946,5.935210,49.538145,1.943749,9.665068,25.120612,...,17.523611,10.752903,6.415656,2.485206,16.009743,13.559836,6.239470,3.992262,40.550223,10.497301
1090,2.994482,10.096676,14.062572,1.581746,9.840473,6.052464,52.815484,1.960378,9.265753,26.354480,...,16.629459,11.177146,6.321785,2.635217,16.312892,13.921385,6.216224,4.130902,40.368590,10.570866
1091,2.859173,10.499209,14.119327,1.668138,10.132748,6.163299,52.811929,2.071917,9.368241,27.399792,...,16.438393,10.757365,6.044103,2.634557,16.815533,14.787039,6.376807,3.919438,45.432947,10.531674
1092,3.008969,10.424607,14.285846,1.685300,10.622937,6.359239,52.970206,2.056340,10.056472,26.141532,...,16.626179,10.167856,6.232526,2.675330,17.104122,13.662321,6.052030,3.740320,46.438196,10.067653

In [13]:
# Generate the summary statistics for the Monte Carlo simulation
# Save the summary statistics information in a variable called even_weights_table 
even_weight_table = MC_even_weight.summarize_cumulative_return()

# Print the table of summary statistics
print(even_weight_table)

count            500.000000
mean              23.372790
std               57.431315
min                0.232264
25%                4.418023
50%                9.736258
75%               21.991201
max             1012.257570
95% CI Lower       0.972383
95% CI Upper     123.407831
Name: 1092, dtype: float64

In [14]:
# Using the lower and upper `95%` confidence interval values 
# (index positions 8 & 9 from the even_weight_table)
# calculate  the range of the possible outcomes for a $15,000 investment 
even_ci_lower = round(even_weight_table[8]*15000,2)
even_ci_upper = round(even_weight_table[9]*15000,2)

# Print results of your calculations
print(f"There is a 95% chance that an initial investment of $15,000 in the portfolio"
      f" with an even weight portfolio over the next 5 years will end within in the range of"
      f" ${even_ci_lower} and ${even_ci_upper}.")

There is a 95% chance that an initial investment of $15,000 in the portfolio with an even weight portfolio over the next 5 years will end within in the range of $14585.74 and $1851117.47.